body{
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.weatherform{
  margin: 20px;
}

.cityinput{
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  width: 300px;
}

button[type='submit']{
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit']:hover{
  background-color: #0056b3;
}

.weatherresult{
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 5px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

h1{
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 25px;
}

p{
  font-size: 1.0rem;
  margin: 5px 0;
}

.cityDisplay, .temperatureDisplay{
  font-size: 3rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

.humidityDisplay{
  font-weight: bold;
  margin-bottom: 25px;
}

.description{
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

.weatherEmoji{
  margin: 0;
  font-size: 5.5rem;
}

.errorDisplay{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
}